/* google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        background-color: rgb(199 210 254);
    }
    h1 {
        @apply text-5xl;
    }
}